@model MyScore.Models.Match

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMatch</title>
</head>
<body>
    <div> 
        <p>Gospodarze: @Model.Home</p>
        <p>Goście: @Model.Away</p>
        <p>Miejsce: @Model.Place</p>
        <p>Sędzia: @Model.Referee</p>
        <p>Liga: @Model.League</p>
    </div>
</body>
</html>
